<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 9 - Lab 1</h1>
</div>

# Exercise 1

Follow the instruction given and install the Pandas Library in VS Code. After installation, input a picture to document that you have successfully installed the Pandas Library.

https://pypi.org/project/pandas/

In a New Terminal: Should be pypi:
    
    pip install pandas 

If you have the latest version of python:

    pip3 install pandas 

Once you have the library create a simple dataframe of your choosing. Show your code.

In [4]:
import pandas as pd

gradebook = [['Student 1', 'A'], ['Student 2', 'B'], ['Student 3', 'A+']]

df = pd.DataFrame(gradebook, columns=['Name', 'Grade'])
df

        Name Grade
0  Student 1     A
1  Student 2     B
2  Student 3    A+

# Exercise 2

Create a data frame using pandas that uses a conditional statement other than if ascending = false.

In [54]:
people = [['Adam', 20], ['Bob', 23], ['Charlie', 13], ['Daryl', 16], ['Emile', 18]]

ppl = pd.DataFrame(people, columns=['Name', 'Age'])

adults = ppl[ppl['Age'] >= 18]
adults

    Name  Age
0   Adam   20
1    Bob   23
4  Emile   18

# Exercise 3

Create a Data Frame using pandas with Names and Age and change the datatype of age from int to str.

In [56]:
print(ppl.Age.dtypes)

ppl.Age = ppl.Age.astype(str)

print(ppl.Age.dtypes)

int64
object

# Exercise 4

Write a data frame using pandas that contains a dictionary of column1 of 5 strings of letters, a column2 of 5 integers, another column3 of 5 integers and a column4 of 5 strings of letters with lower and upper cases.

In [57]:
data = {
    'column1': ['a', 'b', 'c', 'd', 'e'],
    'column2': [1, 2, 3, 4, 5],
    'column3': [6, 7, 8, 9, 10],
    'column4': ['f', 'G', 'h', 'I', 'j']
}

df = pd.DataFrame(data=data)
df

  column1  column2  column3 column4
0       a        1        6       f
1       b        2        7       G
2       c        3        8       h
3       d        4        9       I
4       e        5       10       j

# Bonus Question

Write a Pandas program that contains data of a student for each column (you can create as many as you think are necessary). Make sure to display the default index and set a column as an Index in the dataframe. Output only one of the columns of your choice and change its datatype.

In [58]:
!pip install names

Collecting names
  Downloading names-0.3.0.tar.gz (789 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Using legacy 'setup.py install' for names, since package 'wheel' is not installed.
Installing collected packages: names
    Running setup.py install for names: started
    Running setup.py install for names: finished with status 'done'
Successfully installed names-0.3.0

In [82]:
import names
import random

student_names = []
student_grades = []
student_sex = []
student_lab_partner = []

for x in range(10):
    student_names.append(names.get_first_name())

for x in range(10):
    student_grades.append(random.randrange(60, 100))

for x in range(10):
    if x < 5:
        student_sex.append('male')
    else:
        student_sex.append('female')

for x in range(10):
    student_lab_partner.append(names.get_first_name())

random.shuffle(student_sex)

print(student_names)
print(student_grades)
print(student_sex)
print(student_lab_partner)

['David', 'Kevin', 'James', 'Luz', 'Stacy', 'Michael', 'Dawn', 'Robert', 'Allison', 'Ronald']
[63, 69, 60, 71, 84, 85, 81, 86, 94, 85]
['male', 'male', 'female', 'male', 'female', 'male', 'female', 'male', 'female', 'female']
['Lannie', 'Christopher', 'Shannon', 'Adriana', 'Zachary', 'Rita', 'Cynthia', 'Phyllis', 'Cathie', 'Marie']

In [85]:
class_data = {
    'Names': student_names,
    'Grades': student_grades,
    'Sex': student_sex,
    'Lab Partner': student_crush
}

class_df = pd.DataFrame(data=class_data)
print(class_df)

     Names  Grades     Sex Lab Partner
0    David      63    male       Ralph
1    Kevin      69    male        Lori
2    James      60  female     Kathern
3      Luz      71    male         Jim
4    Stacy      84  female      Linnea
5  Michael      85    male        Paul
6     Dawn      81  female      Ronald
7   Robert      86    male    Patricia
8  Allison      94  female       James
9   Ronald      85  female       Linda

In [89]:
print(class_df.head())

print(class_df['Grades'])
class_df.Grades = class_df.Grades.astype(str)
print(class_df['Grades'])

   Names  Grades     Sex Lab Partner
0  David      63    male       Ralph
1  Kevin      69    male        Lori
2  James      60  female     Kathern
3    Luz      71    male         Jim
4  Stacy      84  female      Linnea
0    63
1    69
2    60
3    71
4    84
5    85
6    81
7    86
8    94
9    85
Name: Grades, dtype: int64
0    63
1    69
2    60
3    71
4    84
5    85
6    81
7    86
8    94
9    85
Name: Grades, dtype: object