<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 5 - Homework</h1>
</div>

<hr>
<pre style="text-align: center;">
Exercise 1 due Monday before class time.
Exercise 2 due Tuesday before class time.
Exercise 3 due Wednesday before class time.
</pre>
<hr>

# Exercise 1

Create a function that calculates the double factorial of an odd number. The double factorial of `n` is denoted by `n!!` and is the product of all odd integers up to and including `n`. You can do it using recursion (for bonus points) or any other method you can come up with.

e.g. 

```
9!! = 1 x 3 x 5 x 7 x 9 = 945
```

Output the following once your function works.

`double_factorial(13)`

In [2]:
def double_factorial(n=13):
  if n <= 0:
    return 1
  else:
    return n * double_factorial(n - 2)

double_factorial(13)

135135

# Exercise 2

Create the decorator function(s) that wraps the `hello` function in the following html tags.

hello() -> `<div><p><b>hello</b></p></div>`

In [4]:
def hello():
    return "hello"

def enclose(func):
  print('<div><p><b>' + func() + '<div><p><b>')

enclose(hello)

<function enclose.<locals>.wrapper at 0x7fbe90ab7b90>

# Exercise 3

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Create a function that returns the sum of all the multiples of 3 or 5 below `n` where `n` is the inputted number.

e.g. 

```
n=10 -> 23
n=25 -> 143
n=50 -> 543
n=100 -> 2318
```

In [ ]:
def sum_of_threes_and_fives(n=100):
  sum = 0
  for i in range(0, n):
    if i % 3 == 0 or i % 5 == 0:
      sum += i
  return sum       

sum_of_threes_and_fives()