<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1>Week 2 Class 3 Lab</h1>
</div>

# Question 1

When might you use a dictionary? Why? Explain in your own words

# Question 2

When might you use a set? Why? Explain in your own words.

# Exercise 1 

Create a dictionary and populate it with keys from 0 to 9 and a default value of "None". Then set the values of all keys divisible by 2 to be the value times itself.

In [136]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers = dict.fromkeys(nums)
for key in numbers.keys():
  if key % 2 == 0:
    numbers[key] = key ** 2
print(numbers)

{0: 0, 1: None, 2: 4, 3: None, 4: 16, 5: None, 6: 36, 7: None, 8: 64, 9: None}

# Exercise 2

Given a list of words and utilizing set methods print the words that can be typed using letters of alphabet on only one row's of the (American) keyboard. You may use one character in the keyboard more than once.

In [155]:
words = set(['type', 'router', 'pine', 'dash', 'top', 'rower', 'freedom'])
row = set('asdfghjkl')

for word in words:
  for letter in word:
    if row.intersection(letter):
      if row.union(letter):
        print(word)
        break
      break
    break

freedom
dash

# Exercise 3

Given a list of students, find the students who favorite colors are the same utitlizng set methods. Print the name of the students who share similar tastes in colors.

In [137]:
students = [{"name":"Rob","student_id": 115, "favorite_colors":{"red","green"}},{"name":"Clara","student_id": 15, "favorite_colors":{"blue","red","green"}}, {"name":"Sally","student_id": 21, "favorite_colors":{"black"}}, {"name":"Jim","student_id": 33, "favorite_colors":{"blue","green"}}]

for student in students:
  for keys in student.keys():
    for values in student.values():
      print(values)
    print(keys)
    break

print(students)

Rob
115
{'red', 'green'}
name
Clara
15
{'red', 'green', 'blue'}
name
Sally
21
{'black'}
name
Jim
33
{'green', 'blue'}
name
[{'name': 'Rob', 'student_id': 115, 'favorite_colors': {'red', 'green'}}, {'name': 'Clara', 'student_id': 15, 'favorite_colors': {'red', 'green', 'blue'}}, {'name': 'Sally', 'student_id': 21, 'favorite_colors': {'black'}}, {'name': 'Jim', 'student_id': 33, 'favorite_colors': {'green', 'blue'}}]